<div class="bg-blue-500 text-white p-4 flex items-center">
  <a class="text-xl font-bold" href="/">{{ title }}</a>
  <div class="flex-grow"></div>
  <a class="text-white px-4 py-2" [routerLink]="['profile']">Profile</a>

  <!-- Login Button with Menu -->
  <div class="relative" *ngIf="!loginDisplay">
    <button
      (click)="this.loginMenuOpen = !this.loginMenuOpen"
      class="bg-blue-700 text-white px-4 py-2 rounded"
    >
      Login
    </button>
    <div
      *ngIf="this.loginMenuOpen"
      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
    >
      <button
        class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        (click)="loginRedirect()"
      >
        Login using Redirect
      </button>
      <button
        class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        (click)="loginPopup()"
      >
        Login using Popup
      </button>
    </div>
  </div>

  <!-- Logout Button with Menu -->
  <div class="relative" *ngIf="loginDisplay">
    <button
      (click)="this.logoutMenuOpen = !this.logoutMenuOpen"
      class="bg-blue-700 text-white px-4 py-2 rounded"
    >
      Logout
    </button>
    <div
      *ngIf="this.logoutMenuOpen"
      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
    >
      <button
        class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        (click)="logout()"
      >
        Logout using Redirect
      </button>
      <button
        class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        (click)="logout(true)"
      >
        Logout using Popup
      </button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
